# The dependencies should be versioned such that we can use the 
# latest version of the dependency compatible with the embedded Python version

pip>=25.0.0,<26.0.0
soundcloud-v2>=1.0.0,<2.0.0
std-nslog>=1.0.0,<2.0.0
yt-dlp[default]
ytmusicapi>=1.0.0,<2.0.0
yt-dlp-apple-webkit-jsi
